%div.carousel.slide{id: @id}
  %ol.carousel-indicators
    - @images.each_with_index do |_, index|
      %li{data: { target: "##{@id}", slide: { to: index }}}
  
  %div.carousel-inner
    - @images.destination_objects.each_with_index do |image, index|
      %div.item{class: ('active' if index == 0)}
        = cms_image_tag(image.source)

        %div.carousel-caption
          %h4
            = display_field(image, :title)

          %p
            = display_field(image, :caption)

  %a.carousel-control.left{href: "##{@id}", data: { slide: 'prev' }}
    &lsaquo;

  %a.carousel-control.right{href: "##{@id}", data: { slide: 'next' }}
    &rsaquo;   