.row-fluid
  .span12
    .tags
      = tag_link_list(@entry)

.row-fluid
  .span12
    = render_cell(:blog_entry, :facebook, @entry)

    = render_cell(:blog_entry, :twitter, @entry)

    = link_to(cms_path(@entry), class: 'pull-right btn') do
      = t('blog.read_more')

      %i.icon-chevron-right