.row-fluid
  .span11
    = link_to cms_path(@entry), class: 'pull-right' do
      %h2= @entry.title

= render_cell(:blog_entry, :header, @entry)

= render_cell(:blog_entry, :preview_box, @entry)

= render_cell(:blog_entry, :preview_footer, @entry)
