.row-fluid
  .span11
    %h2= @entry.title
    .row-fluid
      .span2
        .author_image
          = image_tag author_image_path_for_entry(@entry)
      .span8
        .meta
          .date
            = @entry.publish_date
          .author
            = mail_to @entry.author_email, @entry.author_name
.row-fluid
  %p.span11.text= @entry.body
.row-fluid
  .span12
    .tags= tag_link_list
.row-fluid
  .span12
    = render_cell(:blog_entry, :facebook, @entry)