.box.box_image.well
  = render(state: :edit_marker)

  %h3
    = @contact.first_name << " " << @contact.last_name

  %p.company
    %strong
      = @contact.org_name_address
    %br
    = @contact.street_address
    %br
    = @contact.postalcode << " " << @contact.locality

  %p.contact
    = @contact.phone
    %br
    = mail_to(@contact.email)
