.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header
      = t('.meta')

    %li
      - if @current_user.logged_in?
        = link_to(cms_path(@login_page), method: :delete) do
          = t('.logout')

      - else
        = link_to(cms_path(@login_page)) do
          = t('.login')

    %li
      = link_to(cms_path(@search_page)) do
        = display_title(@search_page)

    - if RailsConnector::Workspace.current.id != 'published'
      %li
        = link_to "Activate Editing", '#', :onclick => "infopark.editing.activate()"
      %li
        = link_to "Deactivate Editing", '#', :onclick => "infopark.editing.deactivate()"