%h2
  Helpful Links

%ul
  %li
    = link_to(Rails.configuration.infopark_kickstarter.cms_url, target: :_blank) do
      Infopark CMS GUI

  %li
    = link_to(Rails.configuration.infopark_kickstarter.crm_url, target: :_blank) do
      Infopark CRM GUI

  %li
    = link_to(Rails.configuration.infopark_kickstarter.console_url, target: :_blank) do
      Infopark Console and Project Management

%hr

%ul
  %li
    = link_to(Rails.configuration.infopark_kickstarter.dev_center_url, target: :_blank) do
      Infopark Dev Center

  %li
    = link_to(Rails.configuration.infopark_kickstarter.support_url, target: :_blank) do
      Infopark Support

  %li
    = link_to(Rails.configuration.infopark_kickstarter.status_url, target: :_blank) do
      Infopark Status Page

  %li
    = link_to(Rails.configuration.infopark_kickstarter.github_repository_url, target: :_blank) do
      Github Repository

  %li
    = link_to(Rails.configuration.infopark_kickstarter.github_repository_issues_url, target: :_blank) do
      Github Repository Issues