.widget.accordion_widget.well
  - num = 0

  = cms_tag(:h2, @widget, :headline)

  = cms_tag(:p, @widget, :content)

  = cms_tag_list :div, @widget, :toclist, class: 'accordion' do |list, child|
    = list.tag :div, class: 'accordion-group' do
      .accordion-heading
        %a.accordion-toggle{ href: "#collapse#{num}", data: { toggle: 'collapse', parent: '#accordion2' } }
          = cms_tag(:h3, child, :headline)
      .accordion-body.collapse.out{ id: "collapse#{num}" }
        .accordion-inner
          = cms_tag(:div, child, :content)
      - num += 1