.blog-entry
  .media
    = render(state: :gravatar)

    .media-body
      = cms_tag(:h2, @entry, :headline, class: 'media-heading')

      = render(state: :published_at)

      = render(state: :published_by)

  = cms_tag(:div, @entry, :main_content)

  = render(state: :comment)