.blog-post
  .media
    = render(state: :gravatar)

    .media-body
      %h3.media-heading
        = link_to(cms_path(@post)) do
          = cms_tag(:span, @post, :headline)

      = render(state: :published_at)

      = render(state: :published_by)

  = render(state: :snippet)

  %p
    = link_to(cms_path(@post)) do
      = t('blog.read_more')

    %i.icon-chevron-right